/* general */

* {
  box-sizing: border-box;
  color: white;
  word-break: break-all;
}

html,
body {
  text-align: center;
  margin: 0;
  background-color: rgb(77, 109, 109);
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

a.link,
.input-button {
  background-color: #353535;
  padding: 15px;
  border: none;
}

a.link:hover,
.input-button:hover {
  background-color: #555;
  cursor: pointer;
}

a.link:active,
.input-button:active {
  background-color: #757575;
}

.col,
.col * {
  display: inline-block;
}

.no-outline {
  outline: none;
}

.text-input {
  background-color: rgb(77, 109, 109);
  border: none;
  border-bottom: 2px solid white;
  outline: none;
  font-size: 32px;
  width: 50%;
}

/* footer */

div#footer {
  background-color: #353535;
  bottom: 0;
  position: fixed;
  width: 100%;
}

a.media {
  font-size: 0px;
  margin-left: 0%;
}

a.media>img {
  width: 51.5px;
  overflow: hidden;
}

div#media {
  display: flex;
  bottom: 0;
  right: 0;
  position: fixed;
}

div#footerVertDiv {
  font-size: 24px;
}

/* responsive */

@media only screen and (max-width: 620px) {
  * {
    font-size: 100%;
  }
  .list-item,
  .list-item>* {
    width: 100%;
    border: 1px solid #242424;
  }
  #media {
    margin-bottom: 51px;
  }
}

/* scrollbar */

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #a1a1a1;
}

::-webkit-scrollbar-thumb {
  background: #353535;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-thumb:active {
  background: #757575;
}

/* Number spinners */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}